.containerpost {
  width: 450px;
  padding: 20px;
  height: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.inputpost {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.buttonpost {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  margin-left: 100px;
  width: 50%;
  border-radius: 4px;
  cursor: pointer;
}
.buttonpost:hover {
  background-color: #0056b3;
}
h1 {
  text-align: center;
}